body{
    background-color: #C9DABF;
    font-family: "Lato", sans-serif;
}
.titles_sections{
    color:  #5F6F65;
}
@media (max-width: 770px){
    .crate{
        display: flex;
        flex-direction: row; 
        justify-content: start; 
    }
    .crate_1{
        display: flex;
        flex-direction: column;
        margin-right: 25vw;   
    }
    .crate_2{
        display: flex;
        flex-direction: column; 
    }
    .img_1{
        width: 20px;
        height: 20px;
        margin-bottom: 3vw;
        margin-left: 4vw;    
    }
    .img_1_1{
        width: 20px;
        height: 20px;
        margin-bottom: 3vw; 
        margin-left: 4vw; 
    }
    .peter_parker{
        width: 30vw;
    }
    .button_presentation{
        width: 100%;
        font-size: 14pt;
    }
}

@import '../../node_modules/bootstrap/dist/css/bootstrap.css'; /*bootstrap*/ 
@import 'sections/form'; /*sections form*/ 
@import 'sections/navigation'; /*sections navigation*/ 
@import 'sections/presentation'; /*sections presentation*/ 
@import 'sections/projects'; /*sections projects*/ 
@import 'sections/skills'; /*sections skills*/ 
