@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'; /*bootstrap*/ 
@import '../../assets/sass/sections/form'; /*sections form*/ 
@import '../../assets/sass/sections/navigation'; /*sections navigation*/ 
@import '../../assets/sass/sections/presentation'; /*sections presentation*/ 
@import '../../assets/sass/sections/projects'; /*sections projects*/ 
@import '../../assets/sass/sections/skills'; /*sections skills*/ 

body{
    background-color: #C9DABF;
    font-family: "Lato", sans-serif;
}
.titles_sections{
    color:  #5F6F65;
}
