/*header*/
.developer_web{
    width: 100%;
}
.title__principal--1{
    font-weight: 800;
    color: $color1;
}
.title__principal--2{
    color: black;
    font-weight: 800;
}
.text_presentation{
    text-align: start;
    font-size: 14pt;
}
.button_presentation{
    width: 13vw;
    background-color: $color3;
    font-size: 1.2vw; 
    border-color: $color3; 
}
.button_presentation:hover{
    background-color: $color1;
    border-color: $color1;
}

@media (max-width: 770px){
    .button_presentation{
        width: 100%;
        font-size: 14pt;
    }
}