/*header*/
.developer_web{
    width: 100%;
}
.title__principal--1{
    font-weight: 800;
    color: #5F6F65;
}
.title__principal--2{
    color: black;
    font-weight: 800;
}
.text_presentation{
    text-align: start;
    font-size: 14pt;
}
.button_presentation{
    width: 13vw;
    background-color: #808d7c;
    font-size: 1.2vw; 
    border-color: #808d7c; 
}
.button_presentation:hover{
    background-color: #5F6F65;
    border-color: #5F6F65;
}

@media (max-width: 768px){
    .button_presentation{
        width: 100%;
        font-size: 14pt;
    }
}