/*section flexbox*/
.crate{
    display: flex;
    flex-direction: row; 
    justify-content: start;
}
.crate_1{
    display: flex;
    flex-direction: row;
}
.crate_2{
    display: flex;
    flex-direction: row;
}
.crate_intern{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img_1{
    width: 50px;
    height: 50px;
    margin-left: 4.2vw;
}
.img_1_1{
    width: 50px;
    height: 50px;
}
.title_icons_s{
    font-weight: 500;
}

@media (max-width: 770px){
    .crate{
        display: flex;
        flex-direction: row; 
        justify-content: start; 
    }
    .crate_1{
        display: flex;
        flex-direction: column;
        margin-right: 25vw;   
    }
    .crate_2{
        display: flex;
        flex-direction: column; 
    }
    .img_1{
        width: 20px;
        height: 20px;
        margin-bottom: 3vw;
        margin-left: 4vw;    
    }
    .img_1_1{
        width: 20px;
        height: 20px;
        margin-bottom: 3vw; 
        margin-left: 4vw; 
    }
}